/* Responsive Styles */
.trigram {
  display: none;
}

/* Tablet Styles (768px and above) */
@media (max-width: 1023px) {
  .trigram {
    display: block;
  }
  .top-navigation ul{
    display: none;
  }

  .portfolio-list {
  flex-direction: column; 
}

.portfolio-item {
  flex-direction: row;
}

.teammates-list-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  gap: 30px;
  flex-wrap: wrap;
}

.teammates-list:before,
.teammates-list:after {
  display: none;
}

.teammate {
width: 45%;
margin: auto;
}

.teammate-img-wrapper {
  width: 100%;
}

.teammate-img-wrapper img {
  object-fit: cover;
  width: 100%;
}


}

/* Mobile Styles (Up to 767px) */
@media (max-width: 767px) {
  .content h1 {
    font-size: 48px;
  }
  .content h2 {
    font-size: 28px;
  }
  .portfolio-list {
    flex-direction: column;
  }
  .portfolio-item {
    width: 100%;
  }
  .teammates-list {
    flex-direction: column;
    align-items: center;
  }
  .teammate {
    min-width: 100%;
    text-align: center;
  }
  .footer-contacts {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
